.login-container{
  width: 100%;
  background: url("../images/login_bg.png") no-repeat center;
  background-size: 100%;
  overflow: hidden;
  .login-center{
    width: 5.135rem;
    height: auto;
    margin: 1.399rem auto 0;
    .login-title{
      font-size: 0.597rem;
      font-weight: normal;
      color: #ffffff;
      text-align: center;
    }
    .login-form{
      margin-top: .6rem;
      .login-list{
        margin-top: .2rem;
        height: .7rem;
        line-height: .7rem;
        border-bottom: 1px rgba(255, 255, 255, 0.41) solid;
        position: relative;
        text-align: center;
        span{
          display: block;
          position: absolute;
          width: auto;
          height: 1rem;
          top: 0;
          left: 0;
          font-size: 0.27rem;
          color: #ffffff;
        }
        input{
          border: none;
          background: none;
          font-size: .27rem;
          text-align: center;
          color: white;
          height: 60%;
        }
        input::placeholder{
          color: #ffffff;
          opacity: 0.4;
        }
      }
      .login-btn{
        display: block;
        width: 5.035rem;
        height: 0.853rem;
        background-color: #fdfdfd;
        border-radius: 0.085rem;
        font-size: 0.324rem;
        color: #60adff;
        margin: .45rem auto;
        border: none;
      }
    }
    .login-register{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 5.035rem;
      margin: 0 auto;
      span{
        font-size: 0.23rem;
        color: #ffffff;
        opacity: 0.8;
      }
    }
  }
}
