.moduleHead{
  background-image: linear-gradient(-90deg,
  #e23608 0%,
  #e92a2a 100%);
}
.overdue-container{
  width:100%;
  background: white;
  position: fixed;
  height: 100%;
  top: .8rem;
  left: 0;
  .due-center{
    width: 4.5rem;
    height: auto;
    margin: 2.333rem auto 0;
    text-align: center;
    .due-time{
      font-size: 0.24rem;
      color: #000000;
      i{
        color: #f64243;
        font-size: .27rem;
      }
    }
    .due-money{
      font-size: 0.943rem;
      color: #f64243;
    }
    .due-day{
      font-size: 0.26rem;
      color: #e53116;
      margin-top: .154rem;
    }
    .due-button{
      display: block;
      width: 4.07rem;
      height: 0.612rem;
      background-color: #ff4e21;
      border-radius: 0.252rem;
      margin: 1rem auto;
      color: white;
      font-size: .22rem;
    }
  }
}

