.wd-container{
  width: 100%;
  height: auto;
  margin-top: 1rem;
  .wd-chose-card{
    width: 94%;
    padding: .1rem 3%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wd-c-img{
      width: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        display: block;
        max-width: .9rem;
        height: auto;
      }
    }
    .wd-c-info{
      width: 70%;
      p{
        line-height: .4rem;
        &.c-name{
          font-size: 0.273rem;
          color: #222222;
        }
        &.c-num{
          font-size: 0.239rem;
          color: #999999;
        }
      }
    }
  }
  .wd-center{
    width: 94%;
    padding: .15rem 3% 0.05rem;
    background: white;
    margin-top: .2rem;
    .wd-count,
    .wd-balance{
      font-size: 0.239rem;
      padding: .15rem 0 .15rem;
      color: #666666;
      span{
        color: #ff3b30;
        margin: 0 .1rem;
        font-size: .3rem;
      }
    }
    .wd-num{
      border-bottom: 1px #e2e2e2 solid;
      padding: .1rem 0;
      *{
        vertical-align: bottom;
      }
      span{
        font-size: 0.495rem;
        color: #222222;
        margin: 0 .15rem;
      }
      input{
        width: 70%;
        border: none;
        background: none;
        font-size: 0.638rem;
        color: #222222;
      }
    }
    .wd-balance{

    }
  }
  .wd-btn{
    width: 5.888rem;
    height: 0.753rem;
    background-color: #4f98f5;
    border-radius: 0.085rem;
    display: block;
    margin:.35rem auto;
    font-size: 0.307rem;
    color: #ffffff;
  }
}
